body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.top-border {
    width: 60vw;
    height: 1vh;
    margin-left: 35vw;
    margin-bottom: 2vh;
    background-color: white;
}
.bottom-border {
    width: 60vw;
    height: 1vh;
    margin-left: 35vw;
    margin-top: 2vh;
    background-color: white;
}
.scrollBar1 {
    margin-left: 40vw;
    margin-right: 10vw;
    overflow-x: auto;   
    width: 60vw;
    /* overflow-x: hidden; */
    scrollbar-width: none;
}
#first {
    border-radius: 4vw;
    width: 40vh;
    height: 60vh;
}
.card {
    border-radius: 4vw;
    width: 40vh;
    margin-left: 8vw;
    height: 60vh;
}
.profileCard {
    display: flex;
    flex-direction: row;
}