
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.top-border {
    height: 1vh; 
    margin-bottom: 2vh;
    background-color: white;
    position: relative;
    border-radius: 10vw;
}
.progress {
    height: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10vw;
}
.bottom-border {
    width: 60vw;
    height: 1vh;
    margin-left: 4vw; 
    margin-top: 2vh;
    background-color: white;
    position: relative;
}
.scrollBar1 {
    margin-left: 5vw; 
    margin-right: 10vw;
    overflow-x: auto;   
    width: 60vw;
    scrollbar-width: none;
}
#first {
    border-radius: 4vw;
    width: 40vh;
    height: 60vh;
}
.card {
    border-radius: 4vw;
    width: 40vh;
    margin-left: 8vw;
    height: 60vh;
}
.profileCard {
    display: flex;
    flex-direction: row;
}

.header{
    font-size: 4rem;
    text-align: center;
    color: aqua;
}
.row-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.row-2{
    display: flex;
    justify-content: space-between;
}
.desc{
    padding-left: 3vw;
    text-align: center;
    font-size: 1.3rem;
    font-family: sans-serif ;
}
.scrollin{
    width: 60vw;
    padding: 0;
}
.left{
    margin-left: 0 !important;
}